<!doctype html>
<meta charset="utf-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous">
</script>
<link rel="stylesheet" href="../static/styles/article_card.css">
{% macro article_card(article_id, title, summary, source, date, image_url, named_entities) %}
    <div class="card article-card" id="article-{{ article_id }}" onclick="openArticle({{ article_id }})">
        <div class="row g-0">
            <div class="col-md-3">
                <img src={{ image_url }}, class="rounded-start img-fluid article-image" alt="Article image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ title }}</h5>
                    <p class="card-text"><small class="text-muted">Source: {{ source }}, Date: {{ date }}</small></p>
                    <div class="card-text summary"> {{ summary }}</div>
                    <div class="card-text named-entities">
                        {% for words, tag_name in named_entities %}
                            <div class="article-card-entity tag-{{ tag_name.lower() }} btn">
                                {{ words }} ({{ tag_name }})
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}