<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewsOrganizer</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/article_card.css') }}">
    <script src="{{ url_for('static', filename='scripts/article_card.js') }}"></script>
</head>
<style>
    .content {
        display: flex;
    }

    .articles {
        flex: 80%;
    }

    .tags {
        flex: 20%;
    }
</style>
<body>
{% include 'header.html' %}
{% from 'article_card.html' import article_card %}
<div class="content">
    <div class="tags">
        {% for tag, counter in tags_count.items() %}
            <strong>{{ tag }}</strong>
            <ul>
                {% for token, count in counter.most_common() %}
                    <li>{{ token }} ({{ count }})</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <div class="articles" id="articles">
        {% for article in articles %}
            {{ article_card(
                article_id=article.article_id,
                title=article.title,
                summary=summaries[article.article_id],
                source=article.news_site.name,
                date=article.article_date,
                image_url=article.image_url,
                named_entities=named_entities[article.article_id]
            ) }}
        {% endfor %}
    </div>
</div>
</body>
</html>