.article-card {
    margin: 1em;
}

.article-image {
    width: 100%;
}

.article-card-entity {
    margin: 5px 1px !important;
    color: white !important;
}

.open-article {
    margin: 10% 5%;
}

.open-article:hover {
    opacity: 80%;
}

.article-full-image {
    width: 50%;
}

.article-body, .details-container {
    width: 85%;
}

.article-modal {
    padding: 0 5% !important;
}

.article-details {
    margin: 1% 1%;
}

.article-details:hover {
    cursor: default !important;
}

.article-details:focus {
    box-shadow: none !important;
}

.article-divider {
    width: 70%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.article-tag {
    border: none !important;
    color: white !important;
    padding: 0 6px !important;
}

.article-tag:hover {
    cursor: default !important;
    opacity: 80% !important;
}

.tag-per {
    background-color: rgba(110, 53, 162, 0.77) !important;
    border-color: rgba(110, 53, 162, 0.77) !important;
}

.tag-org {
    background-color: rgba(43, 133, 67, 0.8) !important;
    border-color: rgba(43, 133, 67, 0.8) !important;

}

.tag-loc {
    background-color: #e7c011 !important;
    border-color: #e7c011 !important;

}

.tag-misc {
    background-color: steelblue !important;
    border-color: steelblue !important;

}

.tag-geo {
    background-color: #e7c011 !important;
    border-color: #e7c011 !important;

}

.tag-gpe {
    background-color: #2daaee !important;
    border-color: #2daaee !important;

}

.tag-tim {
    background-color: #451fa9 !important;
    border-color: #451fa9 !important;

}

.tag-art {
    background-color: darkslategrey !important;
    border-color: darkslategrey !important;

}

.tag-eve {
    background-color: hotpink !important;
    border-color: hotpink !important;

}

.tag-nat {
    background-color: #cc1111 !important;
    border-color: #cc1111 !important;

}